{% extends 'core/base.html' %}

{% block title %}{{ area.name }}{% endblock %}

{% block content %}

    <div class="p-6 bg-green-900 rounded-xl bg-green-800 mb-6">
        <div class=" grid grid-cols-1 gap-4">
        <h1 class="pl-2 text-xs sm:text-md lg:text-lg xl:text-xl text-center text-yellow-500 ">{{ areas.name }}</h1>
        </div>
        <div class=" grid grid-cols-1 p-3 ">
            <img src="{{ areas.image.url }}" class="mb-8 rounded-xl">
            {% if areas.image2 %}
            <img src="{{ areas.image2.url }}" class="mb-8 rounded-xl">
            {% endif %}
            {% if areas.image3 %}
            <img src="{{ areas.image3.url }}" class="mb-8 rounded-xl">
            {% endif %}
            {% if areas.image4 %}
            <img src="{{ areas.image4.url }}" class="mb-8 rounded-xl">
            {% endif %}
            {% if areas.image5 %}
            <img src="{{ areas.image5.url }}" class="mb-8 rounded-xl">
            {% endif %}
            {% if areas.image6 %}
            <img src="{{ areas.image6.url }}" class="mb-8 rounded-xl">
            {% endif %}
            {% if areas.image6 %}
            <img src="{{ areas.image7.url }}" class="mb-8 rounded-xl">
            {% endif %}
            {% if areas.image7 %}
            <img src="{{ areas.image7.url }}" class="mb-8 rounded-xl">
            {% endif %}
            {% if areas.image8 %}
            <img src="{{ areas.image8.url }}" class="mb-8 rounded-xl">
            {% endif %}
            </div>
        </div>
    </div>

    <div class="p-12 bg-green-900 hover:bg-green-700 rounded-xl mb-20">
                        <h2 class="mb-6 text-2xl text-center text-yellow-500">Monsters</h2>
                        {% if areas.monsters1 %}
                        <a href="{{ areas.monsters1.link }}">
                            <h2 class="text-2xl text-center text-white hover:text-yellow-700">{{ areas.monsters1.name }}</h2>
                        </a>
                        {% endif %}
                        {% if areas.monsters2 %}
                        <a href="{{ areas.monsters2.link }}">
                            <h2 class="text-2xl text-center text-white hover:text-yellow-700">{{ areas.monsters2.name }}</h2>
                        </a>
                        {% endif %}
                        {% if areas.monsters3 %}
                        <a href="{{ areas.monsters3.link }}">
                            <h2 class="text-2xl text-center text-white hover:text-yellow-700">{{ areas.monsters3.name }}</h2>
                        </a>
                        {% endif %}
                        {% if areas.monsters4 %}
                        <a href="{{ areas.monsters4.link }}">
                            <h2 class="text-2xl text-center text-white hover:text-yellow-700">{{ areas.monsters4.name }}</h2>
                        </a>
                        {% endif %}
                        {% if areas.monsters5 %}
                        <a href="{{ areas.monsters5.link }}">
                            <h2 class="text-2xl text-center text-white hover:text-yellow-700">{{ areas.monsters5.name }}</h2>
                        </a>
                        {% endif %}
                        {% if areas.monsters6 %}
                        <a href="{{ areas.monsters6.link }}">
                            <h2 class="text-2xl text-center text-white hover:text-yellow-700">{{ areas.monsters6.name }}</h2>
                        </a>
                        {% endif %}

                    </div>
    <div class="p-12 bg-green-900 hover:bg-green-700 rounded-xl mb-20">
        <h2 class="text-2xl text-center text-yellow-500 hover:text-white">Notes</h2>
        {% if areas.description %}
            <h2 class="text-2xl text-center text-white">{{ areas.description }}</h2>
        {% endif %}
    </div>

{% endblock %}