{% extends 'core/base.html' %}

{% block title %}{{ characters.name }}{% endblock %}

{% block content %}

    <div class="p-3 bg-green-900 rounded-xl mb-4">
        <div class=" grid grid-cols-1 gap-4">

        <a href="{{ characters.pictures }}">
        <h1 class="pl-2 text-xs sm:text-md lg:text-lg xl:text-xl text-center text-yellow-500 hover:text-yellow-700">{{ characters.name }}</h1></a>
        </div>

        <div class="text-xs sm:text-md lg:text-lg xl:text-xl text-center bg-green-900 grid grid-cols-3 rounded-xl">
               <strong class="p-1 bg-green-900 rounded-xl text-white">{{ characters.character_name }}</strong>
               <strong class="p-1 bg-green-900 rounded-xl text-white">{{ characters.race }}</strong>
               <strong class="p-1 bg-green-900 rounded-xl text-white">{{ characters.skill_class }}</strong>
        </div>

        <div class="grid grid-cols-1 "><img src="{{ characters.image.url }}" class="cols-span-1 mb-2 rounded-xl"></div>


        <strong class="text-yellow-800">Stats:</strong><br>
        <div class="px-3 text-xs sm:text-md lg:text-lg xl:text-xl text-center mb-2 mt-2 bg-green-900 rounded-xl">
               <strong class="bg-black rounded-xl text-yellow-600 pl-6">Level:<span class="p-2 text-white"> {{ characters.lvl }} </span></strong><br>
               <strong class="bg-black rounded-xl text-yellow-600 pl-6">HP:<span class="p-2 text-white rounded-xl"> {{ characters.hp }} </span></strong>
               <strong class="bg-black rounded-xl text-yellow-600 pl-6">AC:<span class="p-2 text-white"> {{ characters.ac }} </span></strong>
        </div>

        <div class="pl-6 cols-span-3">

            <div class="text-xs sm:text-md lg:text-lg xl:text-xl text-center mb-2 p-3 justify-center items-center bg-purple-900 rounded-xl col-span-1">

               <strong class="pl-4 text-yellow-500">Strength:<span class="p-2 text-white">{{ characters.str }} </span></strong>
               <strong class="pl-4 text-yellow-500">Dexterity<span class="p-2 text-white">{{ characters.dex }} </span></strong>
               <strong class="pl-4 text-yellow-500">Constitution:<span class="p-2 text-white"> {{ characters.con }} </span></strong>
               <strong class="pl-4 text-yellow-500">Intelligence:<span class="p-2 text-white"> {{ characters.int }} </span></strong>
               <strong class="pl-4 text-yellow-500">Wisdom:<span class="p-2 text-white"> {{ characters.wis }} </span></strong>
               <strong class="pl-4 text-yellow-500">Charisma:<span class="p-2 text-white"> {{ characters.cha }} </span></strong>

            </div>
            <div class="text-xs sm:text-md lg:text-lg xl:text-xl text-center justify-center grid grid-cols-2">

             <div class="text-xs sm:text-md lg:text-lg xl:text-xl text-center justify-center rounded-xl">
            <div class="p-3 bg-black pl-6 col-span-1 rounded-xl">
                <strong class=" text-yellow-500">Proficient Skills:</strong><br>
                {% if characters.proficient_skill %}
                <h1 class="text-white"> {{ characters.proficient_skill }}</h1>
                {% endif %}
                {% if characters.skill_2 %}
                <h1 class="text-white"> {{ characters.skill_2 }}</h1>
                {% endif %}
                {% if characters.skill_3 %}
                <h1 class="text-white"> {{ characters.skill_3 }}</h1>
                {% endif %}
                {% if characters.skill_4 %}
                <h1 class="text-white"> {{ characters.skill_4 }}</h1>
                {% endif %}
                {% if characters.skill_5 %}
                <h1 class="text-white"> {{ characters.skill_5 }}</h1>
                {% endif %}
                {% if characters.skill_6 %}
                <h1 class="text-white"> {{ characters.skill_6 }}</h1>
                {% endif %}
                {% if characters.skill_7 %}
                <h1 class="text-white"> {{ characters.skill_7 }}</h1>
                {% endif %}
                {% if characters.skill_8 %}
                <h1 class="text-white"> {{ characters.skill_8 }}</h1>
                {% endif %}

            </div>
                </div>

            <div class="pl-3 text-xs sm:text-md lg:text-lg xl:text-xl text-center justify-center rounded-xl">
            <div class="p-3 bg-black col-span-1 rounded-xl">
                <strong class="text-yellow-500">Spells & Abilities:</strong><br>
                {% if characters.spell %}
                <a href="{{ characters.spell_link }}">
                <h1 class="text-white hover:text-yellow-600"> {{ characters.spell }}</h1>
                </a>
                {% endif %}
                {% if characters.spell2 %}
                <a href="{{ characters.spell_link2 }}">
                <h1 class="text-white hover:text-yellow-600"> {{ characters.spell2 }}</h1>
                </a>
                {% endif %}
                {% if characters.spell3 %}
                <a href="{{ characters.spell_link3 }}">
                <h1 class="text-white hover:text-yellow-600"> {{ characters.spell3 }}</h1>
                </a>
                {% endif %}
                {% if characters.spell4 %}
                <a href="{{ characters.spell_link4 }}">
                <h1 class="text-white hover:text-yellow-600"> {{ characters.spell4 }}</h1>
                </a>
                {% endif %}
                {% if characters.spell5 %}
                <a href="{{ characters.spell_link5 }}">
                <h1 class="text-white hover:text-yellow-600"> {{ characters.spell5 }}</h1>
                </a>
                {% endif %}
                {% if characters.spell6 %}
                <a href="{{ characters.spell_link6 }}">
                <h1 class="text-white hover:text-yellow-600"> {{ characters.spell6 }}</h1>
                </a>
                {% endif %}
                {% if characters.spell7 %}
                <a href="{{ characters.spell_link7 }}">
                <h1 class="text-white hover:text-yellow-600"> {{ characters.spell7 }}</h1>
                </a>
                {% endif %}
                {% if characters.spell8 %}
                <a href="{{ characters.spell_link8 }}">
                <h1 class="text-white hover:text-yellow-600"> {{ characters.spell8 }}</h1>
                </a>
                {% endif %}
                {% if characters.spell9 %}
                <a href="{{ characters.spell_link9 }}">
                <h1 class="text-white hover:text-yellow-600"> {{ characters.spell9 }}</h1>
                </a>
                {% endif %}
                {% if characters.spell10 %}
                <a href="{{ characters.spell_link10 }}">
                <h1 class="text-white hover:text-yellow-600"> {{ characters.spell10 }}</h1>
                </a>
                {% endif %}

            </div>

                </div>
            </div>
        </div>

    </div>

    <div class="mb-3 grid grid-cols-1 gap-2">



            <div class="bg-purple-900 rounded-xl">
                <div class=" grid grid-cols-1 gap-4">
            <strong class="pl-2 text-xs sm:text-md lg:text-lg xl:text-xl text-center text-yellow-500 ">Weapons</strong>
            </div>
            <div class="grid grid-cols-3 items-center">

            <div class="mb-4 text-xs sm:text-md lg:text-lg xl:text-xl text-center bg-purple-900 grid grid-cols-1 rounded-xl">
               <strong class="text-white"> {{ characters.weapon }} </strong>
               <strong class="text-yellow-500">Damage<span class="text-white"> {{ characters.weapon.damage }} </span></strong>
               <strong class="text-yellow-500">Bonus <span class="text-white"> {{ characters.weapon_bonus }} </span></strong>

                </div>

            {% if characters.weapon_2 %}
            <div class="grid grid-cols-1">

            <div class="mb-4 text-xs sm:text-md lg:text-lg xl:text-xl text-center bg-purple-900 grid grid-cols-1  rounded-xl">
               <strong class="text-white"> {{ characters.weapon_2 }} </strong>
               <strong class="text-yellow-500">Damage<span class="text-white"> {{ characters.weapon_2.damage }} </span></strong>
               <strong class="text-yellow-500">Bonus <span class="text-white"> {{ characters.weapon2_bonus }} </span></strong>
            </div>

                </div>
                {% endif %}

            {% if characters.weapon_3 %}
            <div class="grid grid-cols-1">

            <div class="mb-4 pl-1 text-xs sm:text-md lg:text-lg xl:text-xl text-center bg-purple-900 grid grid-cols-1 rounded-xl">
               <strong class="text-white"> {{ characters.weapon_3 }} </strong>
               <strong class="text-yellow-500">Damage<span class="text-white"> {{ characters.weapon_3.damage }} </span></strong>
               <strong class="text-yellow-500">Bonus <span class="text-white"> {{ characters.weapon3_bonus }} </span></strong>
            </div>

                </div>
                {% endif %}
            </div>
            </div>
            </div>

    <div class="p-6 bg-green-900 rounded-xl bg-green-800 mb-2">
        <div class=" grid grid-cols-1 gap-4">
        <strong class="pl-2 text-xs sm:text-md lg:text-lg xl:text-xl text-center text-yellow-500 ">Equipment</strong>
        </div>
        <div class=" grid grid-cols-1 p-3">
            <h2 class="text-sm sm:text-sm lg:text-lg xl:text-xl text-white">{{ characters.equipment }}</h2>
            </div>
        </div>
    </div>

    <div class="p-6 bg-green-900 rounded-xl bg-green-800 mb-20">
        <div class=" grid grid-cols-1 gap-4">
        <strong class="pl-2 text-xs sm:text-md lg:text-lg xl:text-xl text-center text-yellow-500 ">Special Items:</strong>
        </div>
        <div class=" grid grid-cols-1 p-3">
            {% if characters.special_item %}
                <a href="{{ characters.special_item.link }}">
                <h1 class="text-white hover:text-yellow-600"> {{ characters.special_item }}</h1>
                </a>
                {% endif %}
                {% if characters.special_item2 %}
                <a href="{{ characters.special_item2.link }}">
                <h1 class="text-white hover:text-yellow-600"> {{ characters.special_item2 }}</h1>
                </a>
                {% endif %}
            </div>
        </div>
    </div>

{% if authenticated %}
    <div class="p-6 bg-black rounded-xl mb-20 ">
        <div class=" pl-28 grid grid-cols-1 gap-4 items-center">
        <a href="{% url 'dnd:edit' characters.id %}" >
        <button class="w-4/5 mt-3 py-4 px-8 text-lg text-white bg-red-700 hover:bg-red-900 rounded-xl">Edit</button>
        </a>
        </div>

        </div>
{% endif %}




{% endblock %}
