{% extends 'core/base.html' %}

{% block title %}{{ npcs.name }}{% endblock %}

{% block content %}

    <div class="p-6 bg-black rounded-xl">
        <div class=" grid h-100 w-100 gap-6 p-3">

        <a href="{{ npcs.pictures }}">
        <h1 class="mb-6 text-xs sm:text-md lg:text-lg xl:text-xl text-center text-yellow-500 hover:text-yellow-700">{{npcs.name }}</h1>

            <div class="col-span-2">
            <img src="{{ npcs.image.url }}" class="mb-8 rounded-xl">
            </div>
            <strong class="text-yellow-800">Details:</strong><br>
        <p class="pl-3 text-white text-center justify-center items-center">
            {{ npcs.description  }}
        </p>
        </a>


            </div>
</div>

{% endblock %}
