{% extends 'core/base.html' %}

{% block title %}{{ spells.name }}{% endblock %}

{% block content %}

    <div class="p-6 bg-gray-900 rounded-xl">
        <div class=" grid grid-cols-1 gap-4">
        <h1 class="pl-2 text-xs sm:text-md lg:text-lg xl:text-xl text-center text-yellow-500 ">{{ spells.name }}</h1>
        </div>
        <div class=" grid grid-cols-1 p-3 ">
            <h2 class="text-sm sm:text-sm lg:text-lg xl:text-xl text-white">{{ spells.description }}</h2>
            </div>
        </div>
    </div>

{% endblock %}