{% extends 'core/base.html' %}

{% block title %}Secret Santa{% endblock %}


{% block content %}

    <div class="mb-20 px-6 py-12 bg-black rounded-xl">
      <a href="/">
        <h2 class="mb-12 text-2xl sm:text-md lg:text-lg xl:text-xl text-center text-white">Price limit: $150</h2>
        <h2 class="mb-12 text-2xl sm:text-md lg:text-lg xl:text-xl text-center text-white">Prepare a gift for:</h2>
      </a>
        <h3 class="text-white bg-red text-2xl rounded-xl text-center">{{ ss }}</h3>

    </div>

{% endblock %}