{% extends 'core/base.html' %}

{% block title %}Shangri-la{% endblock %}

{% block content %}

        <div class="grid grid-cols-5 gap-3 mb-20">
            {% for image in images %}
            <div>
                <a href="{% url 'browse:images' image.id %}">
                    <div>
                        <img src="{{ image.image.url }}" class="rounded-xl w-50 h-50">
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>


{% endblock %}