{% extends 'core/base.html' %}

{% block title %}{{ projects.name }}{% endblock %}

{% block content %}


            <div class=" py-4 px-4">
                <a href="{% url 'projects:detail' projects.id %}">
                    <div>
                        <img src="{{ projects.image.url }}" class=" p-6 w-50 h-50 rounded-xl">
                    </div>
                </a>
                {% if projects.image2 %}
                <a href="{% url 'projects:detail' projects.id %}">
                    <div>
                        <img src="{{ projects.image2.url }}" class=" p-6 w-50 h-50 rounded-xl">
                    </div>
                </a>
                {% endif %}
                {% if projects.image3 %}
                <a href="{% url 'projects:detail' projects.id %}">
                    <div>
                        <img src="{{ projects.image3.url }}" class=" p-6 w-50 h-50 rounded-xl">
                    </div>
                </a>
                {% endif %}

                {% if projects.image4 %}

                <a href="{% url 'projects:detail' projects.id %}">
                    <div>
                        <img src="{{ projects.image4.url }}" class=" p-6 w-50 h-50 rounded-xl">
                    </div>
                </a>

                {% endif %}

           </div>



{% endblock %}