{% extends 'core/base.html' %}

{% block title %}{{ terrarium.name }}{% endblock %}

{% block content %}

    <div class="justify-center p-6 bg-black rounded-xl">
        <div class=" grid h-100 w-100 gap-6 p-3">

        <a href="{% url 'terrarium:terrariums' %}">
        <h1 class="mb-6 text-xs sm:text-md lg:text-lg xl:text-xl text-center text-yellow-500 hover:text-yellow-700">{{ habitats.name }}</h1></a>

            <div class="grid grid-cols-2">
                <a href="{{ habitats.plant1.link}} ">
                <img src="{{ habitats.plant1.image.url }}" class=" justify-center cols-span-2 pr-3 mb-8 rounded-xl">
                <h1 class="mb-6 text-xs sm:text-md lg:text-lg xl:text-xl text-center text-yellow-500 hover:text-yellow-700">{{ habitats.plant1.name }}</h1></a>

                </a>
                <a href="{{ habitats.plant2.link}} ">
                <img src="{{ habitats.plant2.image.url }}" class=" justify-center cols-span-1 pr-3 mb-8 rounded-xl">
                <h1 class="mb-6 text-xs sm:text-md lg:text-lg xl:text-xl text-center text-yellow-500 hover:text-yellow-700">{{ habitats.plant2.name }}</h1>
                </a>

                <a href="{{ habitats.plant3.link}} ">
                <img src="{{ habitats.plant3.image.url }}" class=" justify-center cols-span-1 pr-3 mb-8 rounded-xl">
                <h1 class="mb-6 text-xs sm:text-md lg:text-lg xl:text-xl text-center text-yellow-500 hover:text-yellow-700">{{ habitats.plant3.name }}</h1>
                </a>

                <a href="{{ habitats.plant4.link}} ">
                <img src="{{ habitats.plant4.image.url }}" class=" justify-center cols-span-1 pr-3 mb-8 rounded-xl">
                <h1 class="mb-6 text-xs sm:text-md lg:text-lg xl:text-xl text-center text-yellow-500 hover:text-yellow-700">{{ habitats.plant4.name }}</h1>
                </a>


            </div>


        </div>
    </div>


{% endblock %}
